<p>BMI calculator</p>
 
<p>
   <a [routerLink]="['/']">Part A</a>
</p>

<p>enter your weight</p>
<p>
    stone <input #inputStone (keyup)="convertFromStone(#inputStone.value)"  id="stone" type="number" placeholder="enter a number" />
</p>
<p>
    pounds <input #inputLbs  id="pounds" type="number" placeholder="enter a number" />
</p>
<p>
    KGs <input #inputKG  id="kilograms" type="number" placeholder="enter a number" />
</p>

<p>enter your height</p>
<p>
    feet <input #inputFeet  id="feet" type="number" placeholder="enter a number" />
</p>
<p>
    inches <input #inputInches  id="inches" type="number" placeholder="enter a number" />
</p>
<p>
    metres <input #inputMetres  id="metres" type="number" placeholder="enter a number" />
</p>

<p>
    <button>calculate BMI</button>
</p>

<p>result</p>
<p>your estimated BMI is {{bmi}}, this is in the {{range}}</p>


<!--
(keyup)="convertFromStone(#inputStone.value)"

(keyup)="convertFromPounds(#inputLbs.value)"

(keyup)="convertFromKG(#inputKG.value)"

(keyup)="convertFromFeet(#inputFeet.value)"

(keyup)="convertFromInches(#inputInches.value)"

(keyup)="convertFromMetres(#inputMetres.value)"

 (click)="calcBMI()" 
 -->